body {
    background-color: aquamarine;
}

p {
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (min-width: 768px) {
    p {
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media only screen and (max-width:900px) {
    body {
        background-color: pink;
    }
}

@media only screen and (max-width:800px) {
    body {
        background-color: green;
    }
}

@media only screen and (max-width:600px) {
    body {
        background-color: lightcoral;
    }
}

@media only screen and (max-width:500px) {
    body {
        background-color: yellow;
    }
}

@media only screen and (max-width:400px) {
    body {
        background-color: red;
    }
}